{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Profile</title>
	<link rel="stylesheet" href="{% static 'csss/profile.css' %}">
	<script src="{% static 'jsss/jquery.js' %}"></script>
	<script src="https://use.fontawesome.com/334ac443eb.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
</head>

<body>
	<script>
$(document).ready(function () {
	(function() {
  $('.btn').click(function() {
    $(this).toggleClass('active');
    return $('.box').toggleClass('open');
  });

}).call(this);	
});
		</script>
		

		
	<div class="prof">
		<div class="photo"><img src="https://cdn.pixabay.com/photo/2017/11/09/21/41/cat-2934720__340.jpg"/></div>
		<div class="content">
		  <div class="text">
			<h3>Tina Tasha</h3>
			<h6>Marketing Depertment</h6>
		  </div>
		  <div class="btn"><span></span></div>
		</div>
		<div class="box"></i><i class="fa fa-pencil"></i><i class="fa fa-line-chart"></i><i class="fa fa-sign-out"></i></div>
	  </div>

</body>
</html>