apturl==0.5.2
asn1crypto==0.24.0
autopep8==1.4.4
beautifulsoup4==4.8.1
Django==2.2.4
django-bootstrap3==11.1.0
django-bootstrap4==1.0.1
django-decouple==2.1
django-widget-tweaks==1.4.5
Pillow==6.2.1
psycopg2==2.8.4
psycopg2-binary==2.8.4
pycodestyle==2.5.0
pytz==2019.3
soupsieve==1.9.5
sqlparse==0.3.0
