@import 'https://fonts.googleapis.com/css?family=Raleway';
* {
  outline: none;
  user-select: none;
}

body {
  font-family: "Raleway", "Microsoft JhengHei", Arial, sans-serif;
}

.prof {
  width: 330px;
  height: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  background-color: #fafafa;
  box-shadow: 0 0 2rem #babbbc;
  animation: show-profile 0.5s forwards ease-in-out;
}
@keyframes show-profile {
  0% {
    width: 0;
  }
}
.prof .photo, .prof .content {
  box-sizing: border-box;
}
.prof .photo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  border: 5px solid #fafafa;
  background-color: #fafafa;
  margin-left: -50px;
  box-shadow: 0 0 0.5rem #babbbc;
  animation: rotate-photo 0.5s forwards ease-in-out;
}
@keyframes rotate-photo {
  100% {
    transform: rotate(-360deg);
  }
}
.prof .photo img {
  width: 100%;
}
.prof .content {
  padding: 10px;
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.prof .content::before {
  content: "";
  position: absolute;
  width: 230px;
  height: 150px;
  background-color: #e9f3e6;
  left: 0;
  top: -20px;
  z-index: -1;
  transform: rotate(-8deg);
}
.prof .content .text {
  margin-top: 20px;
  margin-left: 50px;
}
.prof .content .text h3, .prof .content .text h6 {
  font-weight: normal;
  margin: 3px 0;
  letter-spacing: 0.5px;
  white-space: nowrap;
}
.prof .content .btn {
  background-color: #abc;
  width: 50px;
  height: 50px;
  position: absolute;
  right: 25px;
  top: 25px;
  border-radius: 50%;
  z-index: 1;
  cursor: pointer;
  transition-duration: 0.3s;
  animation: pop-btn 0.3s both ease-in-out 0.5s;
}
@keyframes pop-btn {
  0% {
    transform: scale(0);
  }
  80% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
.prof .content .btn:hover {
  box-shadow: 0 0 0 5px rgba(170, 187, 204, 0.5);
}
.prof .content .btn span {
  width: 60%;
  height: 2px;
  position: absolute;
  background-color: white;
  top: 50%;
  left: 20%;
  transform: translateY(-50%);
  animation: to-hamburger 0.3s forwards ease-in-out;
}
.prof .content .btn span::before, .prof .content .btn span::after {
  content: "";
  width: 100%;
  height: 2px;
  position: absolute;
  background-color: white;
  transition-duration: 0.3s;
  transform: rotate(0deg);
  right: 0;
}
.prof .content .btn span::before {
  margin-top: -7px;
}
.prof .content .btn span::after {
  margin-top: 7px;
}
.prof .content .btn.active span {
  animation: to-arrow 0.3s forwards ease-in-out;
}
.prof .content .btn.active span::before, .profile .content .btn.active span::after {
  width: 60%;
  right: -1px;
}
.prof .content .btn.active span::before {
  transform: rotate(45deg);
}
.prof .content .btn.active span::after {
  transform: rotate(-45deg);
}
@keyframes to-hamburger {
  from {
    transform: translateY(-50%) rotate(-180deg);
  }
}
@keyframes to-arrow {
  from {
    transform: translateY(-50%) rotate(0deg);
  }
  to {
    transform: translateY(-50%) rotate(180deg);
  }
}
.prof .box {
  width: 150px;
  height: 150px;
  opacity: 0;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.7);
  position: absolute;
  top: 50%;
  right: -40%;
  transform: translate(-50%, -50%);
  transition-duration: 0.3s;
}
.prof .box i {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #ececec;
  font-size: 26px;
  text-align: center;
  line-height: 50px;
  position: absolute;
  left: 18px;
  top: calc(75px - 50px/2);
  box-shadow: 0 0 0.5rem #babbbc;
  transition-duration: 0.3s;
}
.prof .box i:hover {
  transition-delay: initial !important;
  box-shadow: 0 0 0 5px #babbbc;
}
.prof .box.open {
  opacity: 1;
}
.prof .box.open i {
  left: 60px;
}
.prof .box.open i:nth-of-type(1) {
  transform: rotate(-90deg) translateX(120px) rotate(90deg);
  transition-delay: 0s;
}
.prof .box.open i:nth-of-type(2) {
  transform: rotate(-45deg) translateX(120px) rotate(45deg);
  transition-delay: 0.1s;
}
.prof .box.open i:nth-of-type(3) {
  transform: rotate(0deg) translateX(120px) rotate(0deg);
  transition-delay: 0.2s;
}
.prof .box.open i:nth-of-type(4) {
  transform: rotate(45deg) translateX(120px) rotate(-45deg);
  transition-delay: 0.3s;
}
.prof .box.open i:nth-of-type(5) {
  transform: rotate(90deg) translateX(120px) rotate(-90deg);
  transition-delay: 0.4s;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background: #C2CADB;
  }
  
  svg {
	width: 50vw;
	opacity: .7;
  }
  
  path {
	fill: transparent;
  }
  
  img {
	position: fixed;
	z-index: -1;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
			transform: translate(-50%, -50%);
	width: 30vw;
  }
  
  text {
	font-size: 8px;
	fill: transparent;
	stroke: #fff;
	stroke-width: 0.3;
	font-family: arial, cursive;
	font-weight: bold;
  }
  
  #text-1 {
	fill: #fff;
	stroke: none;
  }