{% load static %}

<!DOCTYPE html>
<html lang="en" >
  
<head>
  <meta charset="UTF-8">
  <title>Amiran Sign In</title>
  <link rel="stylesheet" href="{% static 'csss/style.css' %}">
  <script src="{% static 'jsss/scripts.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
</head>

<body>
<!-- partial:index.partial.html -->
<div class="container">
  <div class="welcome">
    <div class="pinkbox">
      <div class="signup nodisplay">
      </div>
      <div class="signin">
        <h1>Tomorrow's Technology Today</h1>
        <form class="more-padding" autocomplete="off">
          <input type="text" placeholder="username">
          <input type="password" placeholder="password">
          <div class="checkbox">
            <input type="checkbox" id="remember" /><label for="remember">remember me</label>
          </div>

          <button class="button submit" onclick="location.href='{% url 'dashboard.html' %}'">SIGN IN</button>
        </form>
      </div>
    </div>
    <div class="rightbox">
      <img class="flower" src="{% static 'images/10-2.svg' %}"/>
      <p class="account"></p>
    </div>
  </div>
 </div>

</div>
<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script><script  src="{% static 'jsss/scripts.js' %}"></script>

</body>
</html>