{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Amiran Sign In</title>
    <link rel="stylesheet" href="{% static 'css/signin.css' %}">
    <script src="{% static 'js/signin.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
</head>

<body>
    <!-- partial:index.partial.html -->
    <div class="container">
        <div class="welcome">
            <div class="pinkbox">
                <div class="signup nodisplay">
                </div>
                <div class="signin">
                    <form method="POST" action="/users/" class="more-padding" autocomplete="off">
                        {% csrf_token %}
                        <input type="text" placeholder="username" name="username">
                        <input type="password" placeholder="password" name="password">
                        <a href=" {% url 'password_reset' %} ">Forgot password</a> {% if request.GET.next %}
                        <input type="hidden" name="next" value="{{ request.GET.next }}" /> {% endif %}
                        <button class="button submit">SIGN IN</button>
                    </form>
                </div>
            </div>
            <div class="rightbox">
                <img class="flower" src="{% static 'images/10-2.svg' %}" />
                <p class="account"></p>
                <h1>Tomorrow's Technology Today</h1>

            </div>
        </div>
    </div>

    </div>
    <!-- partial -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
    <script src="{% static 'js/scripts.js' %}"></script>


</body>

</html>