{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Amiran Sign In</title>
    <link rel="stylesheet" href="{% static 'csss/signin.css' %}">
    <link rel="stylesheet" href="{% static 'csss/moving_line.css' %}">
    <script src="{% static 'jsss/jquery.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
</head>

<body>
        <script>
                $(document).ready(function () {
                    let rect = document.getElementById("rect");
let username = document.getElementById("username");
let password = document.getElementById("password");

function handle1() {
	rect.setAttribute("class", "rect2");
}

function handle2() {
	rect.setAttribute("class", "rect1");
}

//For codepen header!!!

                });
                </script>
    <!-- partial:index.partial.html -->
    <div class="container">
        <div class="welcome">
            <div class="pinkbox">
                <div class="signup nodisplay">
                </div>
                <div class="signin">
                    <form method="POST" action="/users/" class="more-padding" autocomplete="off">
                        {% csrf_token %}
                        <input id='username' class='text' onfocus="handle2()" class='inc2' type="text" name="Username" placeholder='Username' value="">
                        <input id='password' class='pass' onfocus="handle1()" class='inc1' type="pass" name="Password" placeholder='Password' value="">
                        <div class="checkbox">
                            <input type="checkbox" id="remember" /><label for="remember">remember me</label>
                        </div>
                        {% if request.GET.next %}
                        <input type="hidden" name="next" value="{{ request.GET.next }}" /> {% endif %}
                        <button  class="button submit">SIGN IN</button>
                        <br>
                        <br>
                        <hr width="250px">
                        
                        
                      <a style="color:#f6f6f6;" href="">  <h6 style="color: #f6f6f6;">
                          Forgot Password?
                    </h6></a>
                    </form>
                </div>
            </div>
            <div class="rightbox">
                <img class="flower" src="{% static 'images/10-2.svg' %}" />
                <p class="account"></p>
                <h1>Tomorrow's Technology Today</h1>

            </div>
        </div>
    </div>

    </div>
    <!-- partial -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
    <script src="{% static 'js/scripts.js' %}"></script>


</body>

</html>