body { 
  margin: 0; 
  padding:0;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
  font-family: Helvetica;
  overflow: hidden;
}  
*, *::before, *::after {
  margin: 0; 
  padding:0;
  box-sizing: border-box;
}
nav {
  height: 50px;
  position: absolute;
  top: 2%;
  right: 2%;
  z-index: 99;
}
nav i {
  font-size: 35px;
  color: white;
  
}
nav i:hover {
  cursor: pointer;
}
.close {
  display: none;
}
.main-bg {
  height: 100vh;
  width: 100vw;
/*  background: url(https://images.pexels.com/photos/2471235/pexels-photo-2471235.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260) no-repeat; */
  background: url(https://images.pexels.com/photos/933964/pexels-photo-933964.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260) no-repeat;
  background-size:cover;
  background-position: center;
  transition: filter 1s;
} 
.wide {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  position: absolute;
}
.row-1 {
  background: black;
  height: 10vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  transform: translateX(100%);
/*   transform: translateX(41%);
  animation: slideright 2s ease; */
} 
.row-2 {
  background: black;
  height: 10vh; 
  display: flex;
  justify-content: flex-end;
  align-items: center;
  transform: translateX(-100%);
/*   transform: translateX(-40%);
  animation: slideleft 2s ease; */
}  
.row-1 a, 
.row-2 a {
  font-size: 30px;
  font-weight: 700;
  text-decoration: none;
  color:white;
  text-align: center;
  width: 19.2vw;
  transition: .3s;
}

.row-1 a:hover {
   letter-spacing:5px;
  -webkit-text-stroke: 1px white;
  color: black;
  font-size: 35px;
}
.row-2 a:hover {
    letter-spacing:5px;
  -webkit-text-stroke: 1px white;
  color: black;
  font-size: 35px;
}
@keyframes slideright {
  0% {
    transform: translateX(-100%);
  }
}
@keyframes slideleft {
  0% {
    transform: translateX(100%);
  }
}

@keyframes sliderightbk {
  0% {
    transform: translateX(41%);
  }
}
@keyframes slideleftbk2 {
  0% {
    transform: translateX(-40%);
  }
}

@media only screen and (max-width: 768px) {
  .row-1,
  .row-2 { 
    background: none;
  }
}