{% extends 'base.html' %} {% load static%}

        {% block content %}
        <div class="jumbotron">
            <div class="row">
                {% for score in scores %}
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-header">
                            <strong>{{score.indicators.area}}</strong>
                        </div>
                        <div class="card-body">
                            {{score.indicators.name}} <hr> {{score.score}}
                        </div>
                        <div class="card-footer">
                            This rating was done by {{score.user}}
                        </div>
                    </div>

                </div>
                {% if forloop.last %}
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-header">
                            <strong>Your Average Rating</strong>
                        </div>
                        <div class="card-body">
                            <strong>The average for {{score.user.username}} is {{user_average}} {% endif %} {% empty %}</strong>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>


        {% endblock %}
