{% extends 'base-kpi.html' %} {% load bootstrap4 %} {% block content %}
<div class="container">
    <h1>Add indicator</h1>
    <div class="card">
        <div class="card-body">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="btn-group-vertical ml-4 mt-4" method="POST" role="group" aria-label="Basic example">
                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                        <label class="btn btn-secondary active">
                          <input type="radio" name="options" id="option1" value="1" autocomplete="off" checked> 1
                          </label>
                        <label class="btn btn-secondary">
                          <input type="radio" name="options" id="option2" value="2" autocomplete="off"> 2
                          </label>
                        <label class="btn btn-secondary">
                          <input type="radio" name="options" id="option3" value="3" autocomplete="off"> 3
                          </label>
                        <label class="btn btn-secondary">
                              <input type="radio" name="options" id="option3" value="4" autocomplete="off"> 4
                          </label>
                        <label class="btn btn-secondary">
                              <input type="radio" name="options" id="option3" value="5" autocomplete="off"> 5
                          </label>
                    </div>
                </div>
                <input type="submit" value="Submit" class="btn btn-primary">
            </form>
        </div>
    </div>
</div>
{% endblock content %}