{% extends 'base.html' %} {% load static %}
<!-- styles -->
{% block styles %}
<link rel="stylesheet" href="{% static 'css/department.css' %}"> {% endblock %}

<!-- Content -->
{% block content %}

<!-- partial:index.partial.html -->
<div class='wrapper'>
    {% for department in departments %}
    <input id='{{department.id}}' type='checkbox'>
    <label for='{{department.id}}'>
		<div>
		  <div class='circle'></div>
		  <span>{{ department.name }}</span>
		</div>
		<p>{{ department.description }}</p>
		
	  </label> {% endfor %}

</div>
{% endblock %}