{% load static %} {% load fontawesome %}
<div class="sidebar">
    <nav class="sidebar-nav">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" href="index.html">
                    <i class="nav-icon icon-speedometer"></i> Dashboard
                </a>
            </li>

            <li class="nav-item nav-dropdown">
                <a class="nav-link nav-dropdown-toggle" href="#">
                    <i class="nav-icon icon-puzzle"></i> Users</a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item">
                        <a class="nav-link" href="base/breadcrumb.html">
                            <i class="nav-icon icon-puzzle"></i> Add user</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="base/cards.html">
                            <i class="nav-icon icon-puzzle"></i> List users</a>
                    </li>

                </ul>
            </li>
            <li class="nav-item nav-dropdown">
                <a class="nav-link nav-dropdown-toggle" href="#">
                    <i class="nav-icon icon-cursor"></i> Departments</a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item">
                        <a class="nav-link" href="buttons/buttons.html">
                            <i class="nav-icon icon-cursor"></i> Add departments</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="buttons/button-group.html">
                            <i class="nav-icon icon-cursor"></i> List departments</a>
                    </li>

                </ul>
            </li>

            <li class="nav-item nav-dropdown">
                <a class="nav-link nav-dropdown-toggle" href="#">
                    <i class="nav-icon icon-star"></i> KPIs</a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item">
                        <a class="nav-link" href="icons/coreui-icons.html">
                            <i class="nav-icon icon-star"></i> Add Areas
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="icons/flags.html">
                            <i class="nav-icon icon-star"></i> Add Indicators</a>
                    </li>

                </ul>
            </li>
            <li class="nav-item nav-dropdown">
                <a class="nav-link nav-dropdown-toggle" href="#">
                    <i class="nav-icon icon-bell"></i> Reports</a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item">
                        <a class="nav-link" href="notifications/alerts.html">
                            <i class="nav-icon icon-bell"></i> Department</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="notifications/badge.html">
                            <i class="nav-icon icon-bell"></i> Users</a>
                    </li>

                </ul>
            </li>

        </ul>
    </nav>
    <button class="sidebar-minimizer brand-minimizer" type="button"></button>
</div>