{% load static %} {% load fontawesome %}
<div class="sidebar">
    <nav class="sidebar-nav">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'dashboard' %}">
                    <i class="nav-icon icon-speedometer"></i> Dashboard
                </a>
            </li>
            <li class="nav-item nav-dropdown">
                <a class="nav-link nav-dropdown-toggle" href="#">
                    <i class="nav-icon icon-star"></i> Users</a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <i class="nav-icon icon-star"></i> User groups
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href='#'>
                            <i class="nav-icon icon-star"></i> Users</a>
                    </li>

                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link" href=" {% url 'list_departments' %} ">
                    <i class="nav-icon icon-speedometer"></i> Departments
                </a>
            </li>

            <li class="nav-item nav-dropdown">
                <a class="nav-link nav-dropdown-toggle" href="#">
                    <i class="nav-icon icon-star"></i> KPIs</a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <i class="nav-icon icon-star"></i> Add Areas
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href='#'>
                            <i class="nav-icon icon-star"></i> Add Indicators</a>
                    </li>

                </ul>
            </li>
            <li class="nav-item nav-dropdown">
                <a class="nav-link nav-dropdown-toggle" href="#">
                    <i class="nav-icon icon-bell"></i> Reports</a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item">
                        <a class="nav-link" href="notifications/alerts.html">
                            <i class="nav-icon icon-bell"></i> Department</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="notifications/badge.html">
                            <i class="nav-icon icon-bell"></i> Users</a>
                    </li>

                </ul>
            </li>

        </ul>
    </nav>
    <button class="sidebar-minimizer brand-minimizer" type="button"></button>
</div>